<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Time API - Best of The Best</title>

    <!-- Css links -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/material_fonts.css">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/materialize.min.css">

    <script src="/socket.io/socket.io.js"></script>

    <!-- A function is called so I need to define the Js file first -->
    <script src="js/script.js"></script>
    
</head>
<body onload="search(), loadData()">

    
    <div class="wrapper">
        <div class="top">
            <div class="nav-wrapper">
                <form id="myForm">
                    <div class="input-field">
                        <input onkeyup="searchLogic()" class="search_box" id="search" type="search" placeholder="Click me to find a country" required>
                        <label class="label-icon" for="search"><i id="sicon" class="sicon material-icons">search</i></label>
                        <i id="clearIcon" class="sicon2 material-icons">close</i>
                    </div>
                </form>
              </div>
        </div>
        <div id="countryList" class="countryList">

            <div id="preloader" class="loader cSpinner">
                <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
            
            <div class="addBtn">
                <a href="/add">
                    <div class="addCircle">
                        <span class="material-icons-round addIcon">add</span>
                    </div>
                </a>
            </div>

            <div class="addNew"></div>
        </div>
    </div>

    <!-- JS links -->
    <script src="js/materialize.js"></script>
    <script src="js/materialize.min.js"></script>
    
</body>
</html>